article#tacoMenu {
	/*border-width: 15px;
	-webkit-border-image:url(../img/menu_border.png) repeat;*/
	border: 3px solid rgba(255, 0, 0, .8);
	border-radius: 3em;
}

article {
	width: 45%;
	padding: 1em;
	background-color: beige;
}

#sackInfo img {
	width: 7%;
	float: left;
	padding: 1em;

}

#info {
	float: left;
	margin-right: 10px;
}

#tacoMenu {
	float: right;
}

.end {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

#tacoMenu ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

table, th, td {
	/*border: 1px solid black;*/
	text-align: left;
}


th, td {
	padding: 2px;
}

table{
	padding: 5px;
}

#sauces td:nth-child(2) {
	text-align: center;
}
