/* OLD ARTICLE STYLING
article#tacoMenu {
	border-radius: 3em;
	background-color: #B0431C;
	box-shadow: 3px 2px 17px #888;
	width: 45%;
}

article {
	width: 40%;
	padding: 1em;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;
}


#sackInfo img {
	width: 16%;
	float: left;
	padding: 1em;

}

#tacoMenu {
	float: left;
}

.end {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

#tacoMenu ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

table, th, td {
	text-align: left;
}

section{
	padding-left: 3.5%;
	padding-right: 3.5%;
	padding-bottom: 10px;
}

#sauces td:nth-child(2) {
	text-align: center;
}

#info h2{
	display: inline-block;
	padding: 0em 1em;
	margin: 0em;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-size: 2em;
	background-color: #FFB83D;
}

.subContent{
	margin-bottom: 2em;
    padding: 1em 1em;
    box-shadow: 3px 2px 17px #888;
    background-color: #B0431C;
    border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px
}

#tacoMenu h2 {
	font-size: 2em;
	text-align: center;
}

.name{
	padding-right: 25px;
}
*/

.grid:after{
	content: "";
  	display: table;
 	clear: both;
}

[class*='grid-'] {
	float:left;
	
}
.grid-third{
	width:33.33%;
}

.grid-full{
	width:100%;
}

.row{
	position:static;
	width:100%;
	border: 2px solid black;
	color:black;
}

.spotlightText{
	text-align: center;
	padding:10px;
	font-size: 50px;
}

.white{
	background-color: white;
}

.charcoal{
	background-color: rgb(34, 32, 32);
}

.invert{
	color:white;
	text-align: center;
}

.icon{
	padding-top: 20px;
	height:50px;
}