.hidden{

	display: none;

}

.displayModal{
	background-color:white;
	position:fixed;
	width:400px;
	top: 50%;
	left: 50%;
	z-index: 21;
	margin: 100px;
	padding: 10px;
	border:2px solid black;
	border-radius: 10px;

}
html {font-family: 'Raleway', sans-serif; }
h1 { font-family: 'Raleway', sans-serif; font-weight:800; }
p  { font-family: 'Raleway', sans-serif;}

html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }

.modal {
	display:none;
}
form{
	width:100%;
}
.label {
	width:20%;
}
.formElement{
	width: 75%;
	
}

.overlay{
	background-image:url(../img/semi_transparent.png);
	width: 100%;
	height: 100%;
	margin-top:-20px;
	margin-left:-20px;
	padding-right:20px;
	padding-bottom:20px;
	position: fixed;
	z-index: 20;
}

html{
	background-image:url(../img/brickwall.png);
}

.section{
	font-size: 12px;
	background-color: white;
	width:70%;
	padding:10px; 
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 3px 5px #8D9099;
	border-radius: 5px;
	margin-top: 50px;
}

input[type=button]{
	display:block;
	font-size: 400px;
	width:100%;
	font-family: 'Raleway', sans-serif;

	background-color: #fff;
    border-radius:6px;
    border-color:#000;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    
    
} 

input[type=button]:hover{
	
}
input[type=submit]:hover {

}

input[type=submit]{
	display:block;
	font-size: 40px;
	width:100%;
	font-family: 'Raleway', sans-serif;

	 background-color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    
} 

.formElement {

	width:90%;
	margin:5%;
    font-family: 'Raleway', sans-serif;
    border-color:#000;
    color: #000r;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
}

.close{
	cursor:pointer;
	position:absolute;
}

.close:hover{
  border-bottom: 1px solid black;
}

.errorMessage{
	text-align:center;
	color:red;
}

#headerImage{
	width:100%;
	height:400px;
}

#tacoTruck{
	position:absolute;
	transform:rotate(-8deg);
	-webkit-transform:rotate(-8deg);
	width:50%;
	top: 80px;
	left: 25%;
}

.logout, .loginInformation {
	position:inline;

}


#mapModal{
	width:80%;
	height: 80%;
}
