#map{

  height:800px;
  margin: 0;
}

#mapMenu {
	float: left;

}
#mapMenu li {
	transition: all, .2s;
	-webkit-transition: all, .2s; 
	background-color:  #B0431C; /*rgba(207,207,207, .3)*/
	margin-right: 1em;
	border: solid 1px;
	border-bottom-width: .1em;
	margin-bottom: .2em;
	border-color: rgba(255, 255, 255, .8);
	border-radius: 10px;
}

#mapMenu span {
	padding-bottom: 1em;
}

#mapMenu {
	padding-right: 5px;
}

#mapMenu ul {
	list-style: none;
	list-style-image: none; 
	margin: 0;
	padding: 0;
}

#mapMenu  h3 {
	font-size: 2em;
}

.hover {
	background-color: blue !important;
	box-shadow: 3px 2px 17px #888;
}

.boxOfPlaces{
	position:absolute;
	top:100px;
}