#map{
  height: 500px;
  margin: 0;
}

#mapMenu {
	float: left;

}
#mapMenu li {
	transition: all, .2s;
	-webkit-transition: all, .2s; 
	background-color: rgba(207,207,207, .3);
	margin-right: 1em;
	border: solid 1px;
	border-bottom-width: .1em;
	margin-bottom: .2em;
	border-color: rgba(255, 255, 255, .8);
}

#mapMenu span {
	padding-bottom: 1em;
}

#mapMenu ul {
	list-style: none;
	list-style-image: none; 
	margin: 0;
	padding: 0;
}