body {
	margin-left: 0px;
	margin-top: 0px;
}

nav {
	position:relative;
	float:left;
	margin-left:35px;
	margin-top:25px;

}

nav h3 {
	margin:2px;
	padding-top: 8px;
	background-color: #FFFFFF;
	position:relative;
	float:left;
	width:120px;
	height:30px;
	font-size: 12;
	text-align: center;
	border-bottom: solid 3px #D6D6D6;
}

nav h3:hover {
	border-bottom: solid 3px rgba(255, 0, 0, .8);
}

nav h3 a {
	text-decoration: none;
	margin:0px;
}

#navTitle {
	margin-top: 30px;
}

#imgDiv {
position:absolute;
height:100%;

}

#imgSpanner {
	position:absolute; 
	width:200px;
	height:100%;
	top:0;
	left: 0;
	z-index: 1;
}

.navSpanner {
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: 1;

}

.navBar {
float:left;
}

#headerImage {
	width:12%;
	position:relative;
	float:left;
	margin-top:15px;
	margin-left : 20px;
	margin-right: 20px;
	transform:rotate(-8deg);
	-webkit-transform:rotate(-8deg);
}

#smoke {
	position:absolute;
	width:5%;
	z-index: 1;
	margin-top:35px;
	margin-left: 10px;

}

#navDiv {
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
	height: 100px;
	margin-left: 15px;
}

#headerHolder {
	background-color : #FFB83D;
	display:block;
	position:fixed;
	width:100%;
	z-index: 5;
}

#headerRight {
	float:right;
	right:0px;
	margin-top: 15px;
	margin-right: 100px;
	width:20%;
	height:55%;

}
