#tacoCreate {
	position:relative;
	float:left;
	width:55%;
	margin-left:20px;
}

.taco {
	border: solid 1px black;

}

#orderView {
	position:relative;
	float:right;
	width:35%;
	min-height:592px; 
	margin-right:20px;
	margin-bottom: 50px;
}


.collumn {
	position:relative;
	float:left;
	width:22%;
}