
<div id="headerHolder">
	<div id="navDiv">
	<img id="smoke" src="img/smoke.png" alt=""><img id="headerImage" src="img/taco_truck_logo.png" alt="Taco Truck">
	<div id="imgDiv"><a href="index.php"><span id="imgSpanner"></a>
	</div>
	<h1 id="navTitle" class="navBar">Taco Truck</h1>
	<nav>
	  <h3 id="indexHeader">Home<a href="index.php"><span class="navSpanner"></a></h3>
	  <h3 id="orderHeader">Order Tacos<a href="order.php"><span class="navSpanner"></a></h3>
	  <h3 id="mapHeader">Map<a href="map.php"><span class="navSpanner"></a></h3>
	</nav>
	<div id="headerRight">
		<input type="button" class="navBar login" value="Login"> 
		<input type="button" class="navBar createAccount" value="Create Account">
		<div class="loginInformation"> </div> 
	</div>

</div>
</div>
<script language="javascript"  type="text/javascript" src="js/nav.js"> </script> 