<!-- 
****************************************
Author: Jordan Silver, Austin Wells 
Team: Lab Labs 
nav bar that allows access to home, order tacos
and location. Also allows for login and signup
*************************************** 
--> 
<div id="headerHolder">
	<div id="navDiv">
		<div id="navbar">
			<ul>
				<li class="navItem" id="indexHeader"> 
				  	<a href="index.php">HOME</a> 
				</li>
				<li class="navItem" id="orderHeader"> 
					<a href="order.php">ORDER TACOS</a> 
				</li>
				<li id="mapHeader"> 
					<a href="map.php">LOCATIONS</a> 
				</li>
				
			</ul>
			<span id="pageTitle">
				<div class="login clickable"> Login/Signup </div>
				<div class="loginInformation"> </div> 
				<div class="logout clickable"> </div> 
			</span>
		</div> 
	</div>
</div>
