
<div id="headerHolder">
<div id="navDiv"><img id="smoke" src="img/smoke.png" alt=""><img id="headerImage" src="img/taco_truck_logo.png" alt="Taco Truck"><h1 class="navBar">Taco Truck</h1>
<nav>
  <h3 id="indexHeader"><a href="index.php">Home</a></h3>
  <h3 id="orderHeader"><a href="order.php">Order Tacos</a></h3>
  <h3 id="mapHeader"><a href="map.php">Map</a></h3>
</nav>
<div id="headerRight">
<input type="button" class="navBar login" value="Login"> </div>
</div>
</div>
<script language="javascript"  type="text/javascript" src="js/nav.js"> </script> 